.container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 20% 80%;

}

.column {
  padding: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.1); /* Vertical line between columns */
  height: 100vh; /* Ensure the column takes full height */
}

.column:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.1); /* Vertical line on the leftmost column */
}

.row {
  width: 100%; /* Ensure the row takes full width */
  display: flex;
  flex-direction: column; /* Change to column to allow children to take full width */
  justify-content: center; /* Center items horizontally */
  margin-bottom: 20px; /* Add some space at the bottom */
}

.row mat-form-field {
  flex: 1; /* Allow the input field to take available space */
  width: 100%; /* Ensure the mat-form-field takes full width */
}

.row .run-prompt-button {
  height: 36px; /* Make the button smaller */
  align-self: flex-end; /* Align the button to the right */
  margin-bottom: 30px;
}

/* Specific row for the input and button */
.row.create-agent-row {
  display: flex; /* Ensure flexbox is used */
  flex-direction: row; /* Align items in a row */
  align-items: center; /* Center items vertically */
}

.form-container {
  display: flex;
  align-items: start;
  width: 100%; /* Ensure the container takes full width */
}

.search-agents-field {
  flex: 1;
}

.container .form-container .go-button {
  height: 56px;
  margin-left: 8px;
}

.full-width {
  flex: 1;
}

.create-agent-button {
  margin-left: 10px; /* Add some space between the input and button */
  height: 56px; /* Ensure the button height matches the input */
  display: flex;
  align-items: center;
  margin-bottom: 0; /* Remove bottom margin */
}

.canvas-container {
  width: 100%; /* Ensure the canvas container takes full width */
}


.canvas-container canvas {
  width: 100%; /* Ensure the canvas takes full width */
  height: auto; /* Maintain aspect ratio */
  background-color: white; /* Set a background color */
}

.node {
  // position: absolute;
  width: 50px;
  height: 50px;
  background-color: lightblue;
  border: 1px solid black;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

/* Add styles for the buttons */
.button-group {
  display: flex;
  flex-direction: row; /* Align buttons in a row */
  gap: 10px; /* Space between buttons */
  margin-bottom: 20px; /* Margin at the bottom */
}

.card-container {
  height: calc(27 * 1.5em); // Adjust the multiplier as needed to match the textarea height
  margin-bottom: 30px;
  overflow: auto; // Add this to handle overflow content
}
