<div class="container">
  <div class="column">
    <div class="row">
      <div class="input-container">
        <mat-form-field
          appearance="outline"
          class="full-width search-agents-field"
        >
          <mat-label>Search Agents</mat-label>
          <input matInput />
        </mat-form-field>
        <button mat-raised-button color="primary" class="go-button">GO!</button>
      </div>
    </div>
    <div class="row">
      <h2>This is the ETS Agent Market place Dashboard</h2>
      <span>As a user you can search for agents</span>
      <ul>
        <li><a routerLink="/agents" class="no-decoration">Create agents</a></li>
        <li>see workflows</li>
        <li>Create workflows</li>
      </ul>
    </div>
  </div>
  <div class="column">
    <div class="row">
      <div class="input-container middle-input-container">
        <mat-form-field
          appearance="outline"
          class="full-width search-agents-field"
        >
          <mat-label>Agent Views</mat-label>
          <input matInput />
        </mat-form-field>
        <button mat-raised-button color="primary" class="go-button">GO!</button>
      </div>
    </div>
    <div class="row">
      <!-- <div class="row card-row">
        <mat-card appearance="outlined" *ngFor="let agent of agentViews">
          <mat-card-content>{{ agent.text }}</mat-card-content>
        </mat-card>
      </div> -->
      <div class="row canvas-container">
        <canvas id="drawingCanvasHome" width="750" height="600"></canvas>
        <app-cube></app-cube>
      </div>
    </div>
    <!-- <div class="row">
      <app-cube></app-cube>
    </div> -->
    <div class="row card-row">
      <mat-card appearance="outlined">
        <mat-card-content>Feedback Loop</mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="column">
    <div class="row">
      <div class="input-container">
        <mat-form-field
          appearance="outline"
          class="full-width search-agents-field"
        >
          <mat-label>Search Workflows</mat-label>
          <input matInput />
        </mat-form-field>
        <button mat-raised-button color="primary" class="go-button">GO!</button>
      </div>
    </div>
    <div class="row">
      <mat-checkbox class="example-margin">Use Playground</mat-checkbox>
    </div>
  </div>
</div>
