.container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 20% 80%;
  color: whitesmoke
}

.column {
  padding: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.1); /* Vertical line between columns */
  height: 100vh; /* Ensure the column takes full height */
}

.column:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.1); /* Vertical line on the leftmost column */
}

.row {
  width: 100%; /* Ensure the row takes full width */
  display: flex;
  flex-direction: column; /* Change to column to allow children to take full width */
  justify-content: center; /* Center items horizontally */
  margin-bottom: 20px; /* Add some space at the bottom */
}

.row mat-form-field {
  flex: 1; /* Allow the input field to take available space */
  width: 100%; /* Ensure the mat-form-field takes full width */
}

.row .run-prompt-button {
  height: 36px; /* Make the button smaller */
  align-self: flex-end; /* Align the button to the right */
  margin-bottom: 30px;
}

/* Specific row for the input and button */
.row.create-agent-row {
  display: flex; /* Ensure flexbox is used */
  flex-direction: row; /* Align items in a row */
  align-items: center; /* Center items vertically */
}

.input-container {
  display: flex;
  align-items: start;
}

.middle-input-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Add a border at the bottom */
}

.search-agents-field {
  flex: 1;
}

.container .input-container .go-button {
  height: 56px;
  margin-left: 8px;
}

/* Remove text decoration and set color for links */
.no-decoration {
  text-decoration: none;
  color: inherit;
}

.card-row {
  margin-top: 20px;
  display: flex;
  flex-direction: row; /* Align mat-cards in a row */
  flex-wrap: wrap; /* Allow mat-cards to wrap to the next line */
  gap: 10px; /* Add some space between the cards */
  justify-content: flex-start; /* Align items to the start of the row */
}

/* Connector arrow styles */
// .connector {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   pointer-events: none; /* Allow clicks to pass through the SVG */
// }

