<div class="container">
  <!-- First Column (with 2 rows) -->
  <div class="column first-column">
    <!-- First row (60% height) -->
    <div class="first-row">
      <mat-toolbar>
        <span>Agent Properties</span>
      </mat-toolbar>
      <mat-tab-group>
        <mat-tab label="General">
          <mat-form-field class="textarea-container">
            <textarea matInput rows="22"></textarea>
          </mat-form-field>
        </mat-tab>
        <mat-tab label="Advanced">
          <mat-form-field>
            <textarea matInput rows="22"></textarea>
          </mat-form-field>
        </mat-tab>
        <mat-tab label="Eval & Explainability">
          <mat-form-field>
            <textarea matInput rows="22"></textarea>
          </mat-form-field>
        </mat-tab>
      </mat-tab-group>
      <button mat-raised-button color="primary">Run Prompt >></button>
    </div>
    <!-- Second row (40% height) -->
    <div class="second-row">
      <h4>Select Grouping</h4>
      <div class="row">
        <mat-form-field appearance="outline" class="full-width">
          <select matNativeControl>
            <option value="volvo">Calibration Agents</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </mat-form-field>
      </div>
      <h4>Dependency</h4>
      <div class="row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Select Dependency</mat-label>
          <select matNativeControl>
            <option value="volvo">None</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </mat-form-field>
      </div>
      <h4>Select Model</h4>
      <div class="row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Select Model</mat-label>
          <select matNativeControl>
            <option value="volvo">Internal LLM</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </mat-form-field>
      </div>
      <div class="row">
        <button mat-raised-button color="primary">Update</button>
      </div>
    </div>
  </div>

  <!-- Middle Column (Single Row) -->
  <div class="column middle-column">
    <div class="top-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Create New Agent</mat-label>
        <input matInput [(ngModel)]="newAgentName" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="createAgent()">
        GO!
      </button>
    </div>
    <!-- Display created cards -->
    <div class="agent-cards">
      <!-- <mat-card *ngFor="let card of agentCards">
        <mat-card-content>
          {{ card.name }}
        </mat-card-content>
      </mat-card> -->
      <button mat-raised-button color="primary" (click)="toggleDrawingMode()">
        {{ isDrawingMode ? "Toggle Drag Mode" : "Toggle Drawing Mode" }}
      </button>
      <canvas id="drawingCanvas" width="750" height="600"></canvas>
    </div>

    <!-- Animated Cube Component -->
    <div class="bottom-row">
      <app-cube></app-cube>
    </div>
  </div>

  <!-- Last Column (with 2 rows) -->
  <div class="column last-column">
    <!-- First row (60% height) -->
    <div class="first-row">
      <mat-toolbar>
        <span>Output</span>
      </mat-toolbar>
      <mat-tab-group>
        <mat-tab label="Text Items">
          <mat-form-field>
            <textarea matInput rows="22"></textarea>
          </mat-form-field>
        </mat-tab>
        <mat-tab label="Spoken Items">
          <mat-form-field>
            <textarea matInput rows="22"></textarea>
          </mat-form-field>
        </mat-tab>
        <mat-tab label="Multiple Choice">
          <mat-form-field>
            <textarea matInput rows="22"></textarea>
          </mat-form-field>
        </mat-tab>
      </mat-tab-group>
    </div>
    <!-- Second row (40% height) -->
    <div class="second-row">
      <div class="row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Search Items</mat-label>
          <input matInput />
        </mat-form-field>
        <button mat-raised-button color="primary">GO!</button>
      </div>
    </div>
  </div>
</div>
